/* Demo 6 Homepage 6 */
$primary-color: #c96;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';

@import '../config/fonts';
@import '../config/variables';

.slider-text-center{
	.gdz-slider-wrapper{
		.gdz-slide-content{
			width: 100%;
		}
	}
	.intro-subtitle {
		text-transform: uppercase;
		letter-spacing: .05em;
	}
	.intro-title{
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	.btn{
		padding-top: 1.075rem;
		padding-bottom: 1.075rem;
		text-transform: uppercase;
		background-color: transparent;
		border: 2px solid #fff;
		letter-spacing: .1em;
		min-width: 200px;
		font-size: 1.3rem;
		&:hover{
			color: $primary-color;
			background-color: #fff;
		}
	}
}